@{
Layout = "~/Views/_Layout.cshtml";
}

@model EmailService.ViewModels.EmailViewModel

<div id="application-node" asp-prerender-module="wwwroot/build/default.bundle" asp-prerender-data="@Model"></div>