<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    @RenderBody()
    <script type="text/javascript" src="/build/default.bundle.js"></script>
</body>
</html>